<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>交大有思-同桌打卡</title>
  <link href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../static/bootstrap.css" type="text/css">
</head>

<body style="max-width:500px;margin: 5px auto;height: 100%">
  <div class="container">
    <img src="../static/1.gif" alt="Youth" class="img-fluid">
    <div class="text-right">
      <a href="/toquery" class="small">已报名？点击查看同桌</a>
    </div>
    
    <form action="/todos" method="POST" id="form">
      {% csrf_token %}
      <h2 class="text-center">交大有思·同桌打卡</h2>
      <div class="form-group">
        <label for="name">姓名</label>
        <input class="form-control" type="text" name="name" id="name">
      </div>
      <div class="form-group">
        <label for="id">学号</label>
        <input class="form-control" type="text" name="id" id="id">
      </div>

      <div class="form-group">
        <label>性别</label>
        <label for="male" class="radio-inline">
          <input type="radio" name="sex" value="male" id="male"> 男
        </label>
        <label for="female" class="radio-inline">
          <input type="radio" name="sex" value="female" id="female"> 女
        </label>
      </div>

      <div class="form-group">
        <label for="phone">手机号码</label>
        <input class="form-control" type="tel" name="phone" id="phone">
      </div>
      <div class="form-group">
        <label for="qq">QQ号码/微信号码</label>
        <input class="form-control" type="text" name="qq" id="qq">
      </div>

      <div class="form-group">
        <p>第一题：下列标签中，你觉得最符合自己的是</p>
        <div class="radio">
          <label>
            <input type="radio" name="q1" value="1.1" id="q1_one"> 1.热情善良大大咧咧
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="q1" value="1.2" id="q1_two"> 2.实力魄力完美主义
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="q1" value="1.3" id="q1_three"> 3.磨人粘人反转魅力
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="q1" value="1.4" id="q1_four"> 4.温和谦和一丝不苟
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="q1" value="1.5" id="q1_five"> 5.忽冷忽热一笑倾城
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="q1" value="1.6" id="q1_six"> 6.低调气质自带光芒
          </label>
        </div>
      </div>

      <div class="form-group">
        <p>第二题：假如有一个机会让你一门科满分，你希望是</p>
        <div class="radio">
          <label>
            <input type="radio" name="q2" value="2.1" id="q2_one"> 1.专业课
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="q2" value="2.2" id="q2_two"> 2.基础夺命课（如高数）
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="q2" value="2.3" id="q2_three"> 3.不想出门的选修课
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="q2" value="2.4" id="q2_four"> 4.我有实力，不需要
          </label>
        </div>
      </div>

      <div class="form-group">
        <p>第三题：你是如何理解“同桌”这个存在的</p>
        <div class="radio">
          <label>
            <input type="radio" name="q3" value="3.1" id="q3_one"> 1.青春时期的美好回忆
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="q3" value="3.2" id="q3_two"> 2.共同努力的好基友
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="q3" value="3.3" id="q3_three"> 3.吵吵闹闹的欢喜冤家
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="q3" value="3.4" id="q3_four"> 4.有故事的人，都懂
          </label>
        </div>
      </div>

      <div class="form-group">
        <p>彩蛋：请问你有暗恋过你的同桌吗（不分男女）</p>
        <div class="radio">
          <label>
            <input type="radio" name="q4" value="4.1" id="q4_one"> 1.我拒绝回答
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="q4" value="4.2" id="q4_two"> 2.你猜啊
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="q4" value="4.3" id="q4_three"> 3.不，怎么可能呢
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="q4" value="4.4" id="q4_four"> 4.他（她）已经是我的了
          </label>
        </div>
      </div>
      <p>温馨提示</p>
      <p>
        <small>1.请填写真实信息，报名后会自动匹配同桌哦</small>
      </p>
      <p>
        <small>2.只有你的同桌一人能看到你的基本信息，并且手机号码将被隐藏，请放心填写</small>
      </p>
      <p>
        <small>3.本次活动预计男生女生各250人，人太多的话可能会匹配到同性同桌哦</small>
      </p>
      <div class="form-group text-center" style="margin-top:2rem">
        <button type="submit" id="submit" class="btn btn-primary">提交</button>
        <button type="reset" id="reset" class="btn btn-danger">重置</button>
      </div>

    </form>

    <footer class="small text-center">©交大有思·实验室</footer>
  </div>
  <script src="/static/form.js"></script>
</body>

</html>