<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>交大有思-同桌打卡</title>
    <link href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/bootstrap.css" type="text/css">
</head>

<body style="width:100%;height:100%;margin:20px auto">
    <div class="container">
        <div>总共有{{sum}}条数据</div>
        <table class="table table-striped" id="table">
            <tr>
                <th>#</th>
                <th>姓名</th>
                <th>学号</th>
                <th>性别</th>
                <th>手机号码</th>
                <th>是否已匹配</th>
                <th>匹配对象学号</th>
                <th>匹配对象姓名</th>
                <th>报名时间</th>
                <th>操作</th>
            </tr>
                {%for i in infos%}
                <tr class="{{i.objectid}}">
                    <td>{{i.no}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.id}}</td>
                    <td>{{i.sex}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.match}}</td>
                    <td>{{i.matchid}}</td>
                    <td>{{i.matchname}}</td>
                    <td>{{i.time}}</td>
                    <td><button class="btn btn-danger delete" id="{{i.objectid}}" name="{{i.name}}">删除并重置其匹配对象</button></td>
                </tr>
                {%endfor%}
        </table>
    </div>
    <div class="form-group text-center" style="margin-top:2rem">
        <button id="last" class="btn btn-primary">上一页</button>
        <button id="next" class="btn btn-primary">下一页</button>
    </div>
    <footer class="small text-center">©交大有思·实验室</footer>
    </div>
</body>
<script src="/static/jQuery.js"></script>
<script src="/static/innerquery.js"></script>

</html>