<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>交大有思-同桌打卡</title>
    <link href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/bootstrap.css" type="text/css">
</head>

<body style="max-width:500px;margin: 5px auto;height: 100%">
    <div class="container">
        <img src="../static/1.gif" alt="Youth" class="img-fluid">
        <form action="/login" method="POST" id="form">
            {% csrf_token %}
            <h2 class="text-center">交大有思·同桌打卡</h2>
            <div class="form-group">
                <label for="name">密码</label>
                <input class="form-control" type="password" name="pwd" id="pwd">
            </div>
            <div class="form-group text-center" style="margin-top:2rem">
                <button type="submit" id="submit" class="btn btn-primary">提交</button>
            </div>
        </form>
        <footer class="small text-center">©交大有思·实验室</footer>
    </div>
</body>

</html>