<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <title>交大有思-同桌打卡</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" type="text/css">
    <link rel="stylesheet" href="/static/bootstrap.css" type="text/css">
</head>

<body style="max-width:500px;margin: 5px auto;height: 100%">
    <div class="container lead" id="main">
        <div>{{s_name}} {{s_id}}你好！暂时还没有匹配到同桌哦</div>
        <p>
            <small>请用微信扫描二维码加入同桌打卡群聊</small>
            <div>
                <img src="../static/qc.png" alt="" class="img-responsive img-rounded">
            </div>
        </p>
    </div>
    <noscript>请启用Javascript</noscript>
</body>

</html>