<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>交大有思-同桌打卡</title>
    <link href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/bootstrap.css" type="text/css">
</head>

<body style="width:100%;height:100%;margin:20px auto">
    <div class="container">
        <form method="get" action="/update" id="form" class="form-horizontal">
            {%csrf_token%}
            <div class="row form-group">
                <label class="col-sm-2 control-label">查询</label>
                <div class="col-sm-10">
                    <select class="form-control" name="zero" id="zero">
                        <option value="all">所有信息</option>
                        <option value="other">特定信息</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-2 control-label">并且性别是</label>
                <div class="col-sm-10">
                    <select disabled class="form-control" name="sex" id="sex" >
                        <option value="all">所有</option>
                        <option value="male">男</option>
                        <option value="female">女</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-2 control-label">并且问题1是</label>
                <div class="col-sm-10">
                    <select disabled class="form-control" name="one" id="one">
                        <option value="all">所有</option>
                        <option value="1.热情善良大大咧咧">1.热情善良大大咧咧</option>
                        <option value="2.实力魄力完美主义">2.实力魄力完美主义</option>
                        <option value="3.磨人粘人反转魅力">3.磨人粘人反转魅力</option>
                        <option value="4.温和谦和一丝不苟">4.温和谦和一丝不苟</option>
                        <option value="5.忽冷忽热一笑倾城">5.忽冷忽热一笑倾城</option>
                        <option value="6.低调气质自带光芒">6.低调气质自带光芒</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-2 control-label">并且问题2是</label>
                <div class="col-sm-10">
                    <select disabled class="form-control" name="two" id="two">
                        <option value="all">所有</option>
                        <option value="1.专业课">1.专业课</option>
                        <option value="2.基础夺命课（如高数）">2.基础夺命课（如高数）</option>
                        <option value="3.不想出门的选修课">3.不想出门的选修课</option>
                        <option value="4.我有实力，不需要">4.我有实力，不需要</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-2 control-label">并且问题3是</label>
                <div class="col-sm-10">
                    <select disabled class="form-control" name="three" id="three">
                        <option value="all">所有</option>
                        <option value="1.青春时期的美好回忆">1.青春时期的美好回忆</option>
                        <option value="2.共同努力的好基友">2.共同努力的好基友</option>
                        <option value="3.吵吵闹闹的欢喜冤家">3.吵吵闹闹的欢喜冤家</option>
                        <option value="4.有故事的人，都懂">4.有故事的人，都懂</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-2 control-label">并且彩蛋是</label>
                <div class="col-sm-10">
                    <select disabled class="form-control" name="four" id="four">
                        <option value="all">所有</option>
                        <option value="1.我拒绝回答">1.我拒绝回答</option>
                        <option value="2.你猜啊">2.你猜啊</option>
                        <option value="3.不，怎么可能呢">3.不，怎么可能呢</option>
                        <option value="4.他（她）已经是我的了">4.他（她）已经是我的了</option>
                    </select>
                </div>
            </div>
            <div class="form-group text-center" style="margin-top:5rem">
                <button type="submit" id="submit" class="btn btn-primary">查询</button>
            </div>
        </form>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>姓名</th>
                <th>学号</th>
                <th>性别</th>
                <th>手机号码</th>
                <th>问题1</th>
                <th>问题2</th>
                <th>问题3</th>
                <th>彩蛋</th>
            </tr>
            {%for i in infos%}
            <tr>
                <td>{{i.no}}</td>
                <td>{{i.name}}</td>
                <td>{{i.id}}</td>
                <td>{{i.sex}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.q1}}</td>
                <td>{{i.q2}}</td>
                <td>{{i.q3}}</td>
                <td>{{i.q4}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>

    <footer class="small text-center">©交大有思·实验室</footer>
    </div>
</body>
<script src="/static/JQuery.js"></script>
<script src="/static/query.js"></script>

</html>