<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <title>交大有思-同桌打卡</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" type="text/css">
    <link rel="stylesheet" href="/static/bootstrap.css" type="text/css">
</head>

<body style="max-width:500px;margin: 5px auto;height: 100%">
    <div class="container lead" id="main">
        <div>{{s_name}} {{s_id}} 你好！你的同桌是</div>
        <div>契合度：<span>{{rate}}</span></div>
        <div>姓名：<span>{{name}}</span></div>
        <div>学号：<span>{{id}}<span></div>
        <div>性别：<span>{{sex}}</span></div>
        <div>QQ或者微信号码：<span>{{qq}}<span></div>
        <div>请用微信扫描二维码加入有思同桌打卡群聊</div>
        <img src="/static/sc.png">
    </div>
    <noscript>请启用Javascript</noscript>
</body>

</html>